xdocreport/.idea/
pdf-annotate/.idea/
pdf-annotate/node_modules/
jodconverter/.idea/
jodconverter/jodconverter-core/.idea/
jodconverter/jodconverter-core/target/
jodconverter/jodconverter-sample-webapp/.idea/
jodconverter/hyperic-sigar-1.6.4/
jodconverter/jodconverter-sample-webapp/target/
jodconverter/jodconverter-web-service/.idea/
converter-services/.idea/
converter-services/target/
web-service/.idea/
web-service/target/
jodconverter/jodconverter-web-service/target/
delme/web-service/target/**
.metadata/
C#/DOC2PDF/bin/*
C#/DOC2PDF/obj/*
C#/packages/*
